<div class="row justify-content-center">
  <div class="col-3 p-0">
    <form action="/shorted" method="post" style="display: inline;">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="URL..." aria-label="URL" name="url">
      </div>
  </div>
  <div class="col-1 p-0 ">
    <button class="btn btn-sm" type="submit" id="button-addon2">
      <img class="shortener-icon"
        src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
        alt="Shortener" style="height: auto; max-width: 20%;">
    </button>
  </div>
  </form>
</div>