<div class="row justify-content-center">
  <h1 class="text-center">你的縮網址是:</h1>
  <h1 class="text-center">
    <a class="shorturl" href="http://localhost:3000/{{ URLId }}">http://localhost:3000/{{ URLId }}</a>
    <button class="copy-btn btn btn-dark btn-sm ml-5">Copy</button>
  </h1>
</div>